/*PROJECT CONTENT*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.pull{
    height:5vh;
    background-color: black;
}
.pull img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectBrief {
    font-size: 1rem; /* Αυξάνει ελαφρώς το μέγεθος */
    line-height: 1.55; /* Βελτιώνει την αναγνωσιμότητα */
    color: #000000; /* Σκούρο γκρι για ξεκούραστο διάβασμα */
}

.subDetail {
    color: #101010; /* Σκούρο γκρι για ξεκούραστο διάβασμα */
}

.projectBrief {
    text-align: justify; /* Ισορροπημένη στοίχιση */
    padding: 5px; /* Προσθέτει απόσταση γύρω από το κείμενο */
}

.projectContainer{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}
#projecTop,.skip{
    height: 10vh;
}
.projectLeft, .projectRight{        /*Per every project*/
    background-size: 130% auto;
    background-repeat: no-repeat;
    background-position: center;    
    width: 100%;
    display: flex;    
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.projectLeft{
    background-image: url(../00_assets/svgs/backabout.jpg);
    background-position: center 75%;

}
@media (max-width: 768px) { /* Προσαρμόζεις το όριο σύμφωνα με τις ανάγκες σου */
    .projectLeft {
        background-image: none !important;
    }
}

@media screen and (max-width: 1920px) {
    .projectLeft {
        background-image: url(../00_assets/svgs/backabout.jpg);
        background-position: center 75%; /* Η κατακόρυφη θέση μπορεί να προσαρμοστεί εδώ */
        background-size: cover; /* Αν θέλεις η εικόνα να καλύπτει πλήρως το container */
    }
}

.projectLeft, .projectRight{
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: white solid 2rem;
    border-bottom: white solid 2rem;
}

.projectLeft img {
    pointer-events: auto;
}

.projectLeft {
    pointer-events: none;
    cursor: default;
}

.projectRight{
    background-image: url(../00_assets/svgs/dg.svg);
    flex-direction: row-reverse;
}
.projectImg{
    height: 100%;
    width: 40vw;
    transition: .3s ease;
}

.projectImg:hover {
    transform: scale(1.05);
}
.projectTitle{
    font-size: 6vw;
    font-weight: 500;
}
.projectDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 4%;    
    padding-bottom: 5%;
}

/* Κλάση για τα εικονίδια με τους συνδέσμους */
.contact {
    padding-top: 1%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Κεντράρει τα στοιχεία κάθετα */
}

.contact a {
    display: flex; /* Βάζει το κείμενο και την εικόνα στην ίδια γραμμή */
    align-items: center; /* Κεντράρει το κείμενο κάθετα */
    color: inherit; /* Διατηρεί το αρχικό χρώμα του κειμένου */
    gap: 15px; /* Απόσταση μεταξύ εικόνας και κειμένου */
    transition: transform 0.3s ease-in-out; /* Ομαλή μετάβαση */
}

.contact a:hover {
    transform: scale(1.1); /* Μεγέθυνση κατά 10% */
    cursor: pointer; /* Κάνει τον κέρσορα "χεράκι" */
}

.contact a span {
    font-weight: 500; /* Μειώνει το bold (400 είναι κανονικό, 500 είναι λίγο πιο έντονο) */
}

.contact a:hover span {
    text-decoration: underline; /* Υπογραμμίζει μόνο τη λέξη στο hover */
}

.contact img {
    width: 2em;
    height: auto; /* Για να κρατήσει το σωστό aspect ratio */
}

/* Για τα εισαγωγικά */
.quote {
    font-size: 20px; /* Μεγαλώνει το ❝ */
    color: #001116; 
    font-weight: bold; /* Κάνει το σύμβολο πιο έντονο */
    margin-right: 2px; /* Δίνει λίγο κενό από το κείμενο */
    display: inline-block; /* Το κρατάει σωστά στοιχισμένο */
    letter-spacing: 1px;
}

.space {
    line-height: 1.8; /* Δίνει λίγο κενό από το κείμενο */
}

/* Κλάση για την υπογράμμιση των φράσεων*/
.underline-animation {
    display: inline-block;
    position: relative;
}

.underline-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 3px;
    background-color: #5f9eb0;
}

.underline-active::after {
    width: 100%;
}

/* Κλάση για το rectangle animation */
.highlight-animation {
    position: relative;
    display: inline-block;
    color: black; /* Τα γράμματα ξεκινούν μαύρα */
}

/* Το rectangle effect */
.highlight-animation::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #5f9eb0; /* Σταθερό χρώμα */
    transition: width 1.5s ease-in-out;
}

/* Το κείμενο παραμένει μαύρο αρχικά */
.highlight-animation span {
    position: relative;
    transition: color 0.3s ease-in-out;
}

/* Όταν ξεκινά το animation */
.highlight-active::before {
    width: 100%; /* Επεκτείνεται πλήρως */
}

/* Κείμενο γίνεται άσπρο μόνο όταν καλύπτεται */
.highlight-active span {
    color: white;
}

/* Όταν τελειώσει το animation, επιστρέφει στο αρχικό του χρώμα */
.highlight-hide::before {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.highlight-hide span {
    color: black;
}




/* Δεν τα εχω πειράξει */

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    transition: .3s ease;
}
body{
    margin: 0;
}
b{
    font-weight: 600;
}
a, li{
    all: unset;
    cursor: pointer;
}
::selection {
    color: white;
    background: #5f9eb0;
}

/*NAVBAR*/
nav{
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #ffffffef;
    color: #3A5A40;
}
/* Selection styling for navigation text */
nav ::selection {
    color: white;
    background: #3A5A40;
}
#me_index {
    filter: brightness(0) saturate(100%) invert(36%) sepia(18%) saturate(746%) hue-rotate(71deg) brightness(92%) contrast(94%);
    margin-left: 30px;
}
#me_index:hover, .web a:hover{
    letter-spacing: 0.5px;
}
.web{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}
.web a{
    padding: 2%;
    border-bottom: #3A5A40 solid 2px;
    transition: .3s ease;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 1;
}
.web a:hover, #active, .web:hover #active:hover{
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #3A5A40, rgba(255, 255, 255, 0)) 1;
}
.web:hover #active{
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 1;
}
.mob{
    display: none;
}
.mobNav{
    position: absolute;
    width: 100%;
    height: 40vh;
    left: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5rem;
    z-index: -1;
    padding-top: 200px;
    display: none;
    background-color: white;
}
.mobNav a{
    width: 30vh;
    padding: 2%;
    border: solid 2px;
    transition: .3s ease;
    background-color: white;
    border-radius: 12px;
}

/* nav animations */
@keyframes expand{
    from {}
    to {transform: translateY(-200px)}
}
@keyframes close{
    from {transform: translateY(-200px)}
    to {transform: translateY(-700px)}
}
/* nav responsive */
@media screen and (max-width:858px){
    .web{
        justify-content: end;
    }
    .web a{
        display: none;
    }
    .mob{
        display: block;
        margin: 3%;
    }
    #mobIcon{
        cursor: pointer;
    }
    .mobNav{
        display: flex;
        transform: translateY(-710px);
        color: black;
    }
    .mobNav:hover #mobActive{
        background-color:white;
        color: black;
    }
    .mobNav a:hover, #mobActive, .mobNav:hover #mobActive:hover{
        background-color:black;
        border-color: black;
        color: white;
    }
    #me_index:hover, .web a:hover{
        letter-spacing: 0px;
    }
}
/* NAVBAR */

/*PROJECT HEADING*/
.topContainer{
    background-image: url(../00_assets/svgs/plants.png); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
    margin: 0;
}
.show{
    user-select: none;
    font-size: 5rem;
    transition: .3s ease-in-out;
    box-shadow: black 0px 5px;
    cursor: default;
}
#welcome{
    font-family: "Marcellus SC", serif;
    font-size: 5em;
    animation: type 1s infinite; 
    border-right: solid 3px;
    background-color: white;
    user-select: none;
}
@keyframes type{
    from {}
    50% {border-color: rgba(0,0,0,0);}
    to {}
}

/* Footer */
footer{
    background-color: #3A5A40;
    color: white;
    font-family: "Work Sans", "serif";
    height: fit-content;
    padding-top: 2%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Remove selection effect in footer */
footer ::selection {
    color: inherit;
    background: transparent;
}
/* Footer selection
footer ::selection {
    color: #3A5A40;
    background: white;
}*/
#foot img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(9%) saturate(7498%) hue-rotate(180deg) brightness(104%) contrast(116%);
}
#email{
    margin-top: 0%;
    font-weight: 200;
}
#cr{
    font-weight: 200;
    color: white;
    text-align: right;
    padding-right: 2%;
}
#followUp{
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
}

.follow{
    padding-top: 1%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
.follow a{
    transition: .3s ease;
}
.follow a:hover{
    transform: scale(110%);
}
.follow img{
    width: 2em;
}

#up1{
    animation: t1 5s infinite ease-in-out;
} 
#up2{
    animation: t2 5s infinite ease-in-out;
}
#up3{
    animation: t3 5s infinite ease-in-out;
} 

/* animations */
@keyframes t1{
    from {transform: translateY(0px);}
    10% {transform: translateY(-5px);}
    20% {transform: translateY(0px);}
    30% {}
    to {}
}
@keyframes t2{
    from {}
    10% {transform: translateY(0px);}
    20% {transform: translateY(-5px);}
    30% {transform: translateY(0px);}
    to {}
}
@keyframes t3{
    from {}
    10% {}
    20% {transform: translateY(0px);}
    30% {transform: translateY(-5px);}
    40% {transform: translateY(0px);}
}

/* responsive design 
@media screen and (max-width: 1270px){
.projectLeft {
    background-image: url(../00_assets/svgs/backabout2.png);
}
.underline-normal {
    display: none; // Απόκρυψη της αρχικής εκδοχής 
  }
  .underline-responsive {
    display: inline; // Εμφάνιση της νέας εκδοχής 
  }
}*/

/* ενω στο html ειχα 
<p class="space">
                            I got into UX/UI design 
                            <span class="highlight-animation">
                              <span class="underline-animation">
                                <span class="underline-normal">because I love turning ideas into seamless digital experiences.</span>
                                <span class="underline-responsive">because I love turning ideas into digital experiences.</span>
                              </span>
                            </span>
                            I've learned a lot by trying things out, experimenting and working on different projects.
                        </p> */

/* αυτο ειναι το μεγεθος οθονης m&e
@media screen and (width: 1536px) {
    body::before {
      content: "1600px QUERY ACTIVE";
      color: white;
      background: black;
      padding: 4px;
      position: fixed;
      z-index: 9999;
    }
  }*/
  

/* Smaller */
@media only screen and (max-width:858px){
    /* top */
    .topContainer{
        flex-direction: column-reverse;
        background-position: center;
    }
    #welcome{
        font-size: 10vw;
    }
    .show:not(#and){
        font-size: 8.5vh;
        background-color:white;
    }
    /* content */
    .projectLeft,.projectRight{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: white solid 1rem;
        border-bottom: white solid 1rem;
    }
    .projectImg{
        width: 90vw
    }
    .projectDetails{
        width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.781);
    }
    .projectLeft:hover .projectImg, .projectRight:hover .projectImg{
        transform: scale(101%);
    }
}

@media (max-width: 768px) {
    /* Απενεργοποίηση υπογράμμισης animation */
    .underline-animation::after {
        display: none;
    }

    /* Απενεργοποίηση highlight animation */
    .highlight-animation::before {
        display: none;
    }

    /* Επαναφορά του χρώματος του κειμένου */
    .highlight-animation span {
        color: inherit;
    }

    /* Διόρθωση διάταξης για να μην "σπάει" το κείμενο */
    .highlight-animation,
    .underline-animation {
        display: inline;
    }

    /* Προσθήκη στατικής υπογράμμισης */
    .highlight-animation span,
    .underline-animation {
        text-decoration: underline;
        text-decoration-color: #5f9eb0;
        text-underline-offset: 3px;
    }
}

/* Για 4 εικόνες */
.projectView {
    display: flex;
    align-items: center; /* Κρατά το ύψος κεντραρισμένο με το διπλανό section */
}

.imageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: auto;
    align-items: center; /* Κεντράρει ΚΑΘΕΤΑ τις εικόνες μεταξύ τους */
}

/* Αρχική κατάσταση - εμφάνιση με animation */
.gridImg {
    width: 100%;
    object-fit: cover;
    display: flex;
    align-self: center;
    transform: scale(1.1) translateY(20px);
    opacity: 0;
    border-radius: 4px;
}

/* Όταν γίνονται ορατές */
.gridImg.visible {
    transform: scale(1) translateY(0);
    opacity: 1;
    transition: transform 1.15s ease-out, opacity 1.15s ease-out; /* Πρώτη εμφάνιση */
}

/* Hover effect */
.gridImg.hoverEffect:hover {
    transform: scale(1.045);
    transition: transform 0.3s ease-in-out; /* Ομαλό zoom */
}

/* Όταν ο χρήστης φεύγει, το ξεζουμ γίνεται γρήγορα */
.gridImg.hoverEffect:not(:hover) {
    transition: transform 0.2s ease-out;
}

.imageGrid img:nth-child(1) {
    align-self: end;
}

.imageGrid img:nth-child(4) {
    align-self: start; 
}

.projectLeft {
    display: flex;
    flex-wrap: wrap;
    gap: 2\1rem; /* μείωσε το κενό ανάμεσα σε εικόνες και κείμενο */
  }

  .projectLeft {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  
  .projectView {
    flex: 1.5;
    max-width: 100%; /* κρατάει μικρό το κομμάτι των εικόνων */
  }
  
  /* Το κομμάτι με το κείμενο */
  .projectDetails {
    flex: 2;
    min-width: 300px;
  }
  